.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-mt-4 { margin-top: 4rem; }
.u-mt-8 { margin-top: 8rem; }

.u-mb-1 { margin-bottom: 1rem; }
.u-mb-2 { margin-bottom: 2rem; }
.u-mb-8 { margin-bottom: 8rem; }

.u-img-120 {
  width: 120px;
}